<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion App</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="resources/css/index.css">
        <link rel="stylesheet" href="resources/css/resumen.css">
            <link rel="stylesheet" href="resources/css/categoria.css">




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header class="header">
        <h3 class="alltitle">Resumen</h3>
                        

        <% if(mensaje !="choosed"){ %>
        <h5 class="mensaje"><%= mensaje %></h5><% } %>

    </header>

        <div class="container">


            <form id="formEnviar" class="calendario" action="/transactions" method="post" aria-label="keondawei" role="img">
                
                <button type="button" data-toggle="modal" data-target="#cardModal" class="btnAdd"><% if(mensaje !="choosed" ){ %>Select a time period<%}else{%>
                    Select other time period<%}  %>
                </button>

            </form>

            
            <!-- Graficos de gastos -->

            <% if(data!="undefined" ){ %>
                <!-- Barras de porcentaje de gastos -->
                
                <section class="porcentajes">
                    <h5>&nbsp&nbsp Transport <%= (data.transport).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped" style="width:<%=parseFloat((data.transport/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.transport /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Restaurants <%= (data.restaurants).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-success" style="width:<%=parseFloat((data.restaurants/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.restaurants /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Freetime <%= (data.freetime).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-info" style="width:<%=parseFloat((data.freetime/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.freetime /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Groceries <%= (data.groceries).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-warning" style="width:<%=parseFloat((data.groceries/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.groceries /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Health <%= (data.health).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-danger" style="width:<%=parseFloat((data.health/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.health /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Pet <%= (data.pet).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped" style="width:<%=parseFloat((data.pet/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.pet /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Bank <%= (data.bank).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-success" style="width:<%=parseInt((data.bank/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.bank /total)*100).toFixed(2) %>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Gifts <%= (data.gift).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-info" style="width:<%=parseFloat((data.gift/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.gift /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Home <%= (data.home).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-warning" style="width:<%=parseFloat((data.home/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.home /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Family <%= (data.family).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-danger" style="width:<%=parseFloat((data.family/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.family /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Shopping <%= (data.shopping).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped" style="width:<%=parseFloat((data.shopping/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.shopping /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                    <h5>&nbsp&nbsp Others <%= (data.others).toLocaleString('en') %>$
                    </h5>
                
                    <div class="progress">
                
                        <div class="progress-bar progress-bar-striped bg-success" style="width:<%=parseFloat((data.others/total)*100).toFixed(2)%>%">
                            <%=parseFloat((data.others /total)*100).toFixed(2)%>%
                        </div>
                
                    </div>
                
                
                
                
                
                
                </section>

            <div class="grafico">
                <canvas id="diagrama"> </canvas>
            </div>
            <div class="graficoPie">
                <canvas id="diagramaPie"></canvas>
            </div>
            
           
            <% }else{ %>

            <div class="grafico">

                <h5>Here you can view one resumen about your expenses, just select one time period.</h5>

            </div>


                <% } %>
        </div>




        <div>
        
        
            <!-- MODAL PERIOD -->
            <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form action="/" method="post">
                        <div class="modal-content">
                            
                                    <h3>Select one period</h3>
                                    <div class="cuadricula">
                                        <div type="button" id="myModal"  data-bs-toggle="modal" data-bs-target="#day"  class="box" >Day</div>
                                        <div type="button" id="myModal"  data-bs-toggle="modal" data-bs-target="#week"  class="box">Week</div>
                                        <div type="button" id="myModal"  data-bs-toggle="modal" data-bs-target="#month"  class="box">Month</div>
                                        <div  type="button" id="myModal"  data-bs-toggle="modal" data-bs-target="#year"  class="box">Year</div>
                                    </div>
                            
                            <div class="modal-footer">
                                <h4>Remember to be a tidy person</h3>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        </div>

      
        
        <!-- Modal  DAY -->
        <div class="modal fade"  id="day" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <form action="/resumen" method="POST">
                <div class="modal-content" id="dayContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Select one day</h5>
                         <input type="date" name="dayInput" id="dayInput" >

                    </div>
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <!-- Modal  Week -->
        <div class="modal fade" id="week" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <form action="/resumen" method="POST">

                <div class="modal-content" id="dayContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Select one Week</h5>
                        <input type="week" name="weekInput" id="weekInput">
        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
            </div>
        </div>

        <!-- Modal  Month -->
        <div class="modal fade" id="month" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                            <form action="/resumen" method="POST">

                <div class="modal-content" id="dayContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Select one Month</h5>
                        <input type="month" name="monthInput">
        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <!-- Modal  Year -->
        <div class="modal fade" id="year" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <form action="/resumen" method="POST">

                <div class="modal-content" id="dayContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Select one Year</h5>
                        <input type="number" name="yearInput" min="1900" max="2099" step="1" value="2023">

        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        
        

    <nav class="naav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Resumen</a>
            </li>
        </ul>
    </nav>



</body>

</html>

<script >

    const ctx = document.getElementById('diagrama');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["FreeTime", 'Restaurants', 'Transport', 'Groceries', 'Health', 'Pet',"Bank", "Gifts", "Home","Family","Shopping","Others"],
            datasets: [{
                label: 'Expenses',
                data: [<%=data.freetime %>, <%=data.restaurants %>, <%=data.transport %>, <%=data.groceries %>, <%=data.health %>, <%=data.pet %>,<%=data.bank %>,<%=data.gift%>, <%=data.home %>, <%=data.family %>,<%=data.shopping %>,<%=data.others %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)', 'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 119, 4, 0.7)',
                    
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(255, 205, 86, 0.7)',
                    'rgba(153, 102, 255, 0.7)',
                    'rgba(201, 203, 207, 0.7)', "rgba(255, 0, 255, 0.7)","rgba(0, 200, 135, 0.799)", "rgba(255, 0, 0, 0.7)","rgba(0, 0, 255, 0.7)"
                ],
                
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ctxPie = document.getElementById("diagramaPie")

    new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: ["FreeTime", 'Restaurants', 'Transport', 'Groceries', 'Health', 'Pet', "Bank", "Gifts", "Home", "Family", "Shopping", "Others"],
                datasets: [{
                    label: 'Expenses',
                    data: [<%=data.freetime %>, <%=data.restaurants %>, <%=data.transport %>, <%=data.groceries %>, <%=data.health %>, <%=data.pet %>,<%=data.bank %>,<%=data.gift %>, <%=data.home %>, <%=data.family %>,<%=data.shopping %>,<%=data.others %>],
                    hoverOffset: 20,
                    

                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"crossorigin="anonymous"></script>

